<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Customers</key>
	<array>
		<dict>
			<key>id</key>
			<integer>101</integer>
			<key>firstName</key>
			<string>simran</string>
			<key>lastName</key>
			<string>singh</string>
			<key>email</key>
			<string>simran@gmail.com</string>
			<key>password</key>
			<string>simran</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>105</integer>
			<key>firstName</key>
			<string>camy</string>
			<key>lastName</key>
			<string>sandhu</string>
			<key>email</key>
			<string>camy@gmail.com</string>
			<key>password</key>
			<string>camy</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>103</integer>
			<key>firstName</key>
			<string>varinder</string>
			<key>lastName</key>
			<string>kaur</string>
			<key>email</key>
			<string>varinder@gmail.com</string>
			<key>password</key>
			<string>varinder</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>106</integer>
			<key>firstName</key>
			<string>komal</string>
			<key>lastName</key>
			<string>kaur</string>
			<key>email</key>
			<string>komal@gmail.com</string>
			<key>password</key>
			<string>Komal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>107</integer>
			<key>firstName</key>
			<string>charan</string>
			<key>lastName</key>
			<string>kaur</string>
			<key>password</key>
			<string>charan</string>
			<key>email</key>
			<string>charan@gmail.com</string>
		</dict>
	</array>
</dict>
</plist>
